<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">
  <link rel="manifest" href="/site.webmanifest">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <title>{%block title%}{%endblock%}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <h3 class="navbar-brand text-warning">STUDENTS DETAILS BANK</h3>
      <button type="button" class="navbar-toggler"  data-bs-toggle="collapse" data-bs-target="#navbar"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar">
        <div class="navbar-nav ms-auto">
          <a class="nav-item nav-link me-3" href="/home">Home</a>
          <a class="nav-item nav-link me-3" href="/signup">Signup</a>
          <a class="nav-item nav-link me-3" href="/store-info">Store-Info.</a>
          {% if not current_user.is_authenticated %} <!-- Check if the user is not authenticated -->
            <a class="nav-item nav-link me-3" href="/login">Login</a>
          {% endif %}
          {% if current_user.is_authenticated %} <!-- Check if the user is authenticated -->
            <a class="nav-item nav-link me-3" href="/logout">Logged in as {{current_user.name}} | Logout</a>
          {% endif %}
          <a class="nav-item nav-link me-3" href="/about">About</a>
        </div>
      </div>
    </div>
  </nav>
  {%with messages=get_flashed_messages(with_categories=True)%}
  {%if messages%}
  {%for category, msg in messages%}
  {%if category=="error"%}
  <div class="alert alert-danger alter-dismissible fade show" role="alert">
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  {%else%}
  <div class="alert alert-success alter-dismissible fade show" role="alert">
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  {%endif%}
  {%endfor%}
  {%endif%}
  {%endwith%}
  <div class="container d-flex flex-column min-vh-100">
    {%block content%}
    {%endblock%}
  </div>

  <footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-center">
      <p class="text-warning">Designed by Jhaycee &copy; <span id="current-year"></span></p>
    </div>
  </footer>

  <script>
    // JavaScript to dynamically set the current year
    document.addEventListener("DOMContentLoaded", function() {
      const yearElement = document.querySelector("#current-year");
      yearElement.textContent = new Date().getFullYear();
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>
