{%extends "base.html"%}
{%block title%}Home | Students Details Bank{%endblock%}
{%block content%}
<!--<button type="button" name="button" href="http://127.0.0.1:5000/Student-info">View Details</button>-->
<!--<form  action="#" method="post" >
    <div align="center">
        <input class="text-center" type="submit" value="View Details" style="height:40px; padding-top:5px; border:2px solid black; border-radius:4px; font-family:arial; background-color:goldenrod;">
    </div>
</form>
-->

<section class="hero-section">
    <div class="container">
      <div class="hero-content">
        <h1 class="hero-heading">Stay Organized in Your Academic Journey</h1>
        <p class="hero-subheading">Your one-stop solution to effortlessly manage all your institutional-related details.</p>
        {% if not current_user.info  %}
            <a href="/signup" class="cta-btn">Get Started</a>
        {% else %}
          <a href="/student-info" class="cta-btn">Get Started</a>
        {% endif %}
      </div>
    </div>
  </section>
  

{%endblock%}
