{% extends "base.html" %}
{% block title %}About | Students Details Bank{% endblock %}

{% block content %}
<h1 class="text-warning text-outline pt-2 pb-1">About Us</h1>
<p class="text-light" style="font-family: Arial, Helvetica, sans-serif;">Welcome to our platform! We understand the challenges students face in managing the myriad of forgettable details that come with their academic journey. At our website, we are dedicated to simplifying the lives of students by providing a reliable and secure platform to store and access all essential information pertaining to their institution.</p>
<br>
<h3 class="text-warning text-outline">Our Mission</h3>
<p class="text-light" style="font-family: Arial, Helvetica, sans-serif;">Our mission is to empower students to stay organized and in control of their academic lives. We believe that remembering important details, such as class schedules, exam dates, and campus resources, should not be a burden on students. By offering an intuitive and user-friendly interface, we aim to streamline the process of managing academic information, allowing students to focus on what truly matters - their education.</p>
<br>
<h3 class="text-warning text-outline">What Sets Us Apart</h3>
<ul class="text-light" style="font-family: Arial, Helvetica, sans-serif;">
    <li><b>Privacy and Security</b>: We take the privacy and security of our users' data seriously. Our platform utilizes industry-standard encryption and security measures to safeguard all information stored on our servers, ensuring that only the individual student has access to their personal details.</li>
    <li><b>User-Focused Design</b>: Our website is designed with students in mind. We strive for a seamless and hassle-free user experience, making it easy for students to add, modify, and retrieve their academic information quickly and efficiently.</li>
    <li><b>Customization</b>: We understand that every student's needs are unique. Our platform allows users to customize their information organization to suit their preferences and requirements, providing a truly personalized experience.</li>
    <li><b>Accessibility</b>: Whether you're using a computer, tablet, or smartphone, our platform is accessible from any device with an internet connection, enabling students to access their details on the go.</li>
</ul>
<br>
<h3 class="text-warning text-outline">How it works</h3>
<p class="text-light" style="font-family: Arial, Helvetica, sans-serif;">Using our platform is straightforward. After creating a secure account, students can begin adding their academic details, such as class schedules, assignment deadlines, and important events. Our intuitive interface allows for easy data entry and categorization. Once information is stored, students can retrieve it with just a few clicks, eliminating the stress of forgetting crucial details.</p>
<br>
<h3 class="text-warning text-outline">Get Started Today</h3>
<p class="text-light" style="font-family: Arial, Helvetica, sans-serif;">Join our growing community of students who have taken control of their academic lives with our platform. Sign up for a free account and experience the ease and convenience of having all your institution-related details at your fingertips. Simplify your academic journey and focus on what truly matters – learning and thriving in your educational pursuits.</p>
<br>
<h3 class="text-warning text-outline">Contact Us</h3>
<p class="text-light" style="font-family: Arial, Helvetica, sans-serif;">if you have any questions, feedback, or suggestions, please don't hesitate to get in touch with our friendly support team. We value your input and are committed to continually improving our platform to meet the evolving needs of our users.<br>Thank you for choosing us to be a part of your academic journey!</p>
{% endblock %}